@model WebApplication2.Models.Entity.Urunler
@{
    ViewBag.Title = "Yeniurunler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
 
<form class="form-group" method="post">


    <div>
        

    </div>
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="Urunad" required="" />
    </div>
    <div>
        <label ,>Ürün Kategorisi </label>
        @Html.DropDownListFor(m=>m.Kategoriler.Kategoriid , (List<SelectListItem>) ViewBag.dgr, new {@class="form-control"})
    </div>
    <div>
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" name="Fiyat" />
    </div>
    <div>
        <label>Ürün Stoğu</label>
        <input type="text" class="form-control" name="stok" />
    </div>
    <div>
        <label >Ürün Markası </label>
        <input type="text" class="form-control" name="marka" required="" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Yeni Ürün Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Yeni Ürün Eklendi');
        });
    </script>
</form>

